// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link_about {
  text-align: right;
  background: #D6573D;
  //width: 100%;
  display: block;
  clear: both;
  padding: 20px;
}
